packaging>=22.0
pyyaml
requests
kubernetes
https://github.com/thomas-mattsson/pyivia/releases/download/v0.2.0-tma/pyivia-0.2.0-py3-none-any.whl
wheel
setuptools
twine
sphinx
sphinx-rtd-theme
sphinx_toolbox
typing
build
